<h1 mat-dialog-title>Gallia Label Preview</h1>
<div mat-dialog-content>
  <div class="preview-wrapper">
    <div class="label-container">
      <img *ngIf="previewImage" [src]="previewImage" alt="Gallia Label Preview" class="label-image">
      <div *ngIf="!previewImage" class="error-message">Failed to generate preview. Please try again.</div>
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="print()" color="primary">
    <mat-icon>print</mat-icon> Print
  </button>
  <button mat-button (click)="save()" color="primary">
    <mat-icon>save</mat-icon> Save
  </button>
  <button mat-button (click)="cancel()">
    <mat-icon>close</mat-icon> Cancel
  </button>
</div>